/* Octopus Energy brand colours used in the design */
:root {
    --hemocyanin: #180048;
    --ice: #f0ffff;
    --plum: #600e6b;
    --purpleHaze: #a49fc8;
    --siphon: #100030;
    --sohoLights: #f050f8;
    --luminousAqua: #50f8f0;
    --brandFontFamily: Gotham, helvetica, arial, sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--brandFontFamily);
    color: var(--ice);
    background: var(--siphon);
    line-height: 25px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.flex-container-inline-spaced {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: var(--alignItems, center);
    flex-wrap: wrap;
    gap: 10px;
}
