.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--brandFontFamily);
    color: var(--ice);
}

.container .title {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.75rem;
}
