.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--brandFontFamily);
    color: var(--ice);
}

.container .title {
    margin: 10px 0;
    font-weight: 500;
    font-size: 1.75rem;
}

.specificationsList {
    display: table;
    width: 100%;
}

.specificationsList .specificationItem {
    display: table-row;
    text-align: left;
}

.specificationsList .specificationItem span:first-child,
.specificationsList .specificationItem span:last-child {
    display: table-cell;
    width: 50%;
    padding: 10px;
}
