.container {
    width: 500px;
    margin: auto;
    background-color: inherit;
    font-family: var(--brandFontFamily);
}

.container .section {
    padding: 20px;
}

.container .section:nth-child(even) {
    background-color: var(--siphon);
}

.container .section:nth-child(odd) {
    background-color: var(--hemocyanin);
}

.container .subtitle {
    color: var(--purpleHaze);
    font-size: 1.3rem;
}

.container .labelTitle {
    color: var(--ice);
    font-size: 1.875rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 10px;
    max-height: 56px;
    background-color: var(--siphon);
}

.header .cartIcon {
    font-size: 2rem;
    width: 2.25rem;
    height: 2.25rem;
}

.footer {
    font-size: 0.8em;
    color: var(--purpleHaze);
    text-align: left;
}
