.container {
    width: 500px;
    margin: auto;
    background-color: inherit;
    font-family: var(--brandFontFamily);
}

.container .section {
    padding: 20px;
}

.container .section:nth-child(even) {
    background-color: var(--siphon);
}

.container .section:nth-child(odd) {
    background-color: var(--hemocyanin);
}

.container .subtitle {
    color: var(--purpleHaze);
    font-size: 1.3rem;
}

.container .labelTitle {
    color: var(--ice);
    font-size: 1.875rem;
}
